@import 'src/styles/colors';
@import 'src/styles/typography';


.user-note__container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;
    padding: 10px 20px;
    word-wrap: break-word;

    border: 2px solid $accent-color;
    border-radius: 15px;
    background-color: $secondary-color;
    background-image: url('/src/static/images/note.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;

    transition: all 0.3s ease-in-out;

    &:hover {
        height: fit-content;
        z-index: 2;
    }
}

.user-note {
    @include typography-primary;
    width: 80%;
    height: 80%;
    word-wrap: break-word;
    overflow: hidden;
}

.user-notes__container {
    display: grid;

    width: 90%;
    margin: 50px auto;

    gap: 40px;
    grid-template-columns: repeat(5, 1fr);
}

.user-notes__show-more {
    display: flex;
    justify-content: center;

    padding-top: 30px;

    transition: color .3s ease-in-out;

    color: $secondary-color;

    @include typography-primary-bold;

    &:hover {
        cursor: pointer;

        color: $accent-color;
    }
}