@import "src/styles/colors";
@import "src/styles/typography";

.header-item__container {
    display: flex;
    align-items: center;

    gap: 15px;
}

.header-item__icon {
    width: 30px;
    height: 30px;
}

.header-item__title {
    @include typography-small;
    
    min-width: fit-content;
    text-decoration: none;
    color: $font-dark;
    transition: ease-in-out 2ms;
}