@import 'src/styles/colors';
@import 'src/styles/typography';

.sign-up-page__section {
    display: flex;
    justify-content: center;

    margin-top: 80px;
}

.sign-up-page__form {
    display: block;

    padding: 50px 70px;

    border: 3px solid $primary-color-lighter;
    border-radius: 20px;
    background-color: $primary-color--less-opacity;
}

.sign-up-page__form-fields {
    display: flex;
    justify-content: center;

    gap: 50px;
}

.sign-up-page__button-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.sign-up-page__button {
    font-weight: 600;

    width: 200px;
    height: 50px;

    color: $secondary-color;
    border: none;
    border-radius: 20px;
    background-color: $accent-color;

@include typography-primary;

    &:hover {
        background-color: darken($color: $accent-color, $amount: 10);
    }
}

.sign-up-page__photo-input input {
    display: none;
}

.sign-up-page__photo-input {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;

    color: $secondary-color;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: $accent-color;
    box-shadow: 3px 3px 10px lighten($primary-color, 30);

@include typography-primary-bold;
}

.sign-up-page__photo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.sign-up-page__photo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 12px;
    border-radius: 50%;
}
