
$primary-color: #f0e9da;
$primary-color--less-opacity: #f0e9dad3;
$primary-color-lighter: #ddbc95;
$secondary-color: #76aeba;
$secondary-color--less-opacity: #76adba5a;
$secondary-color-dark: #4f767e;
$accent-color: #123C69;
$border-color: #df4d09;

$color-dark: #626d71;
$color-dark-less-opacity: #626d7191;

$font-primary-color: #ffff;
$font-light-dark: #626d71;
$font-dark: #27354d;

$navbar-intro-color: #EDC7B7;

:root {
    transition: all 2s ease-in-out;


    --primary-color: #53707266;
    --primary-color-lighter: #6d868898;
    --secondary-color: #F0F4F4;
    --accent-color: #537072;

    --color-dark: #537072;
    --color-dark-less-opacity: #5471739c;

    --font-primary-color: #ffff;
    --font-dark: #123C69;

    --navbar-intro-color: #EDC7B7;
}

.theme--light {
    transition: all 2s ease-in-out;
}

.theme--dark {
    transition: all 2s ease-in-out;

    --primary-color: #2c4a52;
    --primary-color-lighter: #6d868898;
    --secondary-color: #121e21;
    --accent-color: #F0F4F4;

    --color-dark: #537072;
    --color-dark-less-opacity: #5471739c;

    --font-primary-color: #ffff;
    --font-dark: #1c201f;

    --navbar-intro-color: #aebdb9;
}