@import 'src/styles/colors';
@import 'src/styles/typography';

.filter-field {
    display: flex;
    justify-content: center;
}

.filter {
    width: 300px;
    height: 50px;
    margin: 30px 0;
    padding-left: 20px;

    color: $accent-color;
    border: none;
    border-radius: 15px;
    outline: none;
    box-shadow: 3px 3px 10px lighten($primary-color, 30);

    @include typography-primary-bold;
}