@import 'src/styles/colors';
@import 'src/styles/typography';

.add-book__form {
   display: flex;
   gap: 10px; 
   padding: 10px;
}

.add-book__genre {
    margin: 35px 0;
}

.add-book__description {
    display: block;
    min-width: 250px;
    min-height: 150px;
    padding: 0 25px;

    color: $accent-color;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #ffff;
    border: 2px solid $secondary-color;

    @include typography-primary;


    &::placeholder {
        color: darken($primary-color, 25);
    }
}

.add-book__label {
    @include typography-primary-bold;
    color: $accent-color;
    margin: 0 0 0 25px;
}

.add-book__buttons {
    display: flex;
    margin: 20px 0 0 0;
}

.add-book__button {
    display: block;
    margin: 0 auto;
    background-color: $secondary-color;
    border: none;

    padding: 10px 20px;
    border-radius: 10px;

    &:hover {
        background-color: darken($color: $secondary-color, $amount: 10);
    }

    &:active {
        background-color: darken($color: $secondary-color, $amount: 20);
    }

    @include typography-small-bold
}

.select-genre {
    height: 53px;
    width: 250px;

    text-align: center;

    color: $accent-color;
    border: none;
    outline: none;
    border-radius: 15px;
    border: 2px solid $secondary-color;

    @include typography-primary-bold;
}

.select-language__option {
    width: fit-content;
    color: $accent-color;
    border: none;
    outline: none;

    &:active {
        border: none;
    }

    @include typography-primary-bold;
}