@import 'src/styles/colors';
@import 'src/styles/variables';

.intro-section__container {
    display: block;

    height: 770px;
}

.intro-section__header {
    display: flex;
    justify-content: space-between;
}

.intro-section-logo__container {
    display: flex;
    justify-content: center;

    width: 30%;
}

.intro-section-logo {
    width: 130px;
    height: 110px;
}


.intro-section-menu {
    margin-top: 40px;
    margin-right: 70px;
}

.intro-section__navbar {
    display: flex;
    justify-content: end;

    padding: 0;
}