@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/typography';

.header-container {
    position: absolute;
    top: 0;
    right: 5%;
    left: 5%;

    display: flex;
    justify-content: space-between;

    width: 90%;
    height: $header-height;

    border: 4px solid $primary-color-lighter;
    border-top: none;
    border-radius: 0 0 30px 30px;
    background-color: $primary-color;

    gap: 20px;
}

.header {
    display: flex;
    align-items: center;

    height: 100%;

    margin-inline: 135px;
}

.header-main {
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: end;

    width: 100%;

@include typography-small;
    gap: 50px;
}

.header-menu__container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin: 0 20px;

    transition: .3s;

    &--active {
        z-index: 3;

        margin-left: 400px;
    }
}

.header__account {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-menu {
    width: 25px;
    height: 20px;
}
