@import 'src/styles/colors';
@import 'src/styles/variables';


.base-page {
    display: block;
    width: 100%;
    min-height: 100vh;

    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto auto;
}

.base-page__content {
    display: block;
    margin: 0 auto;
    padding: 70px;
    height: fit-content;
    width: 90%;
}
