@import 'src/styles/colors';
@import 'src/styles/variables';


.base-page {
    display: block;
    width: 100%;
    min-height: 100vh;

    background-color: $primary-color;
    position: relative;
    display: block;
    margin: auto auto;
    padding-top: 15px;
}

.base-page__content {
    display: block;
    margin: 0 auto;
    position: relative;
    top: $header-height;
}
