@import 'src/styles/colors';
@import 'src/styles/typography';

.reader__container {
    display: block;

    width: 90%;
    height: 50rem;
    margin: 40px auto;
}

.reader {
    height: 50rem;
}

.read-book-translation__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px autos;

    width: 100%;
}

.read-book__add-text-button {
    display: block;

    width: 150px;
    height: 70px;

    border: none;
    border-radius: 10px;
    background-color: $secondary-color;

    &:hover {
        background-color: darken($color: $secondary-color, $amount: 3);
    }

    &:active {
        background-color: darken($color: $secondary-color, $amount: 10);
    }

    &:disabled {
        &:hover {
            background-color: $secondary-color;
        }
    }
}

.read-book__add-text {
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    @include typography-primary;
}

.read-book__data-to-add {
    display: flex;
    gap: 20px;

    padding: 20px 20px 10px 20px;

    color: $accent-color;
    border-radius: 15px;
    background-color: darken($color: $primary-color, $amount: 10);
    @include typography-small-bold;
}

.read-book__translation {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.read-book__translation-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.read-book__translation-button {
    border: none;
    @include typography-small-bold;
    padding: 5px;
    border-radius: 3px;

    &:active {
        background-color: darken($color: $secondary-color, $amount: 30);
    }

    &:hover {
        background-color: $secondary-color;
    }

}